.mat-dialog-content {
  max-height: 80vh;
}

.mat-card-subtitle {
  margin-top: 5px !important;
}
.question-img {
  overflow: hidden !important;
  max-width: 100% !important;
  max-height: 156px !important;
}
