<!-- <div>
  <div class="btn btn-default" (click)="onCancel()">اغلاق</div>
</div> -->
<h1 mat-dialog-title>{{ "labels.addSubQuestion" | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm">
    <div class="row">
      <div class="col-md-4 col-12">
        <mat-form-field appearance="legacy">
          <mat-label>{{ "labels.mainQuestion" | translate }} </mat-label>
          <input matInput type="text" formControlName="mainQuestion" />
          <mat-hint
            class="text-danger"
            *ngIf="
              mainQuestionCtrl.invalid &&
              (mainQuestionCtrl.touched || submitted)
            "
          >
            <span
              *ngIf="
                mainQuestionCtrl?.errors?.required ||
                mainQuestionCtrl?.errors?.whiteSpace
              "
            >
              {{ "labels.mustEnterValue" | translate }}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-4 col-12">
        <mat-form-field appearance="legacy">
          <mat-label>
            {{ "labels.QuestionType" | translate }}
          </mat-label>
          <mat-select
            formControlName="questionTypeId"
            (selectionChange)="questionTypeValidation()"
          >
            <mat-option>
              {{ "General.Choose" | translate }}
            </mat-option>

            <mat-option [value]="1">
              {{ "labels.Article" | translate }}
            </mat-option>

            <mat-option [value]="2">
              {{ "labels.Mcq" | translate }}
            </mat-option>
          </mat-select>
          <mat-hint
            class="text-danger"
            *ngIf="
              questionTypeIdCtrl?.invalid &&
              (questionTypeIdCtrl?.touched || submitted)
            "
          >
            <span *ngIf="questionTypeIdCtrl?.errors?.required">
              {{ "labels.MustChoosevalue" | translate }}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-4 col-12">
        <mat-form-field appearance="legacy">
          <mat-label>
            {{ "labels.QuestionMark" | translate }}
          </mat-label>
          <input matInput type="number" formControlName="questionMark" />
          <mat-hint
            class="text-danger"
            *ngIf="
              questionMarkCtrl.invalid &&
              (questionMarkCtrl.touched || submitted)
            "
          >
            <span *ngIf="questionMarkCtrl.errors?.required">
              {{ "labels.mustEnterValue" | translate }}
            </span>
            <span *ngIf="questionMarkCtrl.errors?.bigZero">
              {{ "labels.mustEnterCorrectValue" | translate }}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>

      <!--
    <div class="col-md-6 col-12" *ngIf="unitId == 0">
      <mat-form-field appearance="legacy">
        <mat-label>{{ "labels.Unit" | translate }}</mat-label>
        <mat-select
          formControlName="unitId"
          (selectionChange)="getAllLessonsByUnitId()"
        >
          <mat-option>{{ "General.Choose" | translate }}</mat-option>
          <mat-option *ngFor="let unit of units" [value]="unit.id">
            {{ unit.unit_ar_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6 col-12" *ngIf="lessonId == 0">
      <mat-form-field appearance="legacy">
        <mat-label>{{ "labels.Lesson" | translate }}</mat-label>
        <mat-select formControlName="lessionId">
          <mat-option>
            {{ "General.Choose" | translate }}
          </mat-option>
          <mat-option *ngFor="let lesson of lessions" [value]="lesson.id">
            {{ lesson.lesson_ar_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

      <div class="col-md-8 col-12">
        <mat-form-field appearance="legacy">
          <mat-label>{{ "labels.question_ar_text" | translate }} </mat-label>
          <input matInput type="text" formControlName="exam_question_text" />
        </mat-form-field>
      </div>

      <div class="col-12">
        <!-- Question Picture -->
        <div class="row">
          <div class="col-md-4 col-12">
            <mat-label>
              {{ "labels.QuestionImage" | translate }}
            </mat-label>
            <input
              class="form-control font-dro clearInputs"
              type="file"
              name="questionImage"
              accept="image/*"
              (change)="importFile($event)"
            />
          </div>

          <div class="col-md-8 col-12">
            <div class="question-img">
              <mat-checkbox
                *ngIf="questionImageCtrl.value"
                formControlName="remove_image"
                [value]="true"
                class="remove_image"
              >
                Remove Image
              </mat-checkbox>
              <img class="img-fluid" [src]="questionImageCtrl?.value" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="questionTypeIdCtrl?.value == 1">
        <mat-form-field appearance="legacy">
          <mat-label>
            {{ "labels.perfect_answer" | translate }}
          </mat-label>
          <input matInput type="text" formControlName="questionPerfectAnswer" />
          <mat-hint
            class="text-danger"
            *ngIf="
              questionPerfectAnswerCtrl.invalid &&
              (questionPerfectAnswerCtrl.touched || submitted)
            "
          >
            <span
              *ngIf="
                questionPerfectAnswerCtrl?.errors?.required ||
                questionPerfectAnswerCtrl?.errors?.whiteSpace
              "
            >
              {{ "labels.mustEnterValue" | translate }}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>

    <hr />

    <ng-container *ngIf="questionTypeIdCtrl?.value == 2" class="row">
      <!-- answer one -->
      <mat-card>
        <mat-radio-group formControlName="answerOneIsCorrect">
          <mat-radio-button
            [value]="0"
            [checked]="oneIsCorrect"
            (click)="onSelectCorrect(0)"
          >
          </mat-radio-button>
        </mat-radio-group>

        <mat-card-subtitle>
          {{ "labels.AnswerNumber" | translate }} (1)
        </mat-card-subtitle>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="legacy">
                <mat-label>
                  {{ "labels.AnswerText" | translate }} (1)
                </mat-label>

                <input matInput type="text" formControlName="answerOne" />
              </mat-form-field>
            </div>

            <div class="col-12">
              <!-- Question Pic -->
              <div class="row">
                <div class="col-md-4 col-12">
                  <mat-label>
                    {{ "labels.AnswerPic" | translate }}
                    (1)
                  </mat-label>

                  <label for="radio-0">
                    <i class="icon icon_radio"></i>
                  </label>
                  <input
                    class="form-control font-dro clearInputs"
                    type="file"
                    accept="image/*"
                    name="answerOneImage"
                    (change)="importOneFile($event)"
                  />
                </div>

                <div class="col-md-8 col-12">
                  <mat-checkbox
                    *ngIf="answerOneImageCtrl.value"
                    formControlName="answerOneRemove_image"
                    [value]="true"
                    class="remove_image"
                  >
                    Remove Image
                  </mat-checkbox>
                  <div class="question-img">
                    <img class="img-fluid" [src]="answerOneImageCtrl.value" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- answer Two -->
      <mat-card>
        <mat-radio-group formControlName="answerTwoIsCorrect">
          <mat-radio-button
            [value]="1"
            [checked]="twoIsCorrect"
            (click)="onSelectCorrect(1)"
          >
          </mat-radio-button>
        </mat-radio-group>

        <mat-card-subtitle>
          {{ "labels.AnswerNumber" | translate }} (2)
        </mat-card-subtitle>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="legacy">
                <mat-label>
                  {{ "labels.AnswerText" | translate }} (2)
                </mat-label>
                <input matInput type="text" formControlName="answerTwo" />
              </mat-form-field>
            </div>

            <div class="col-12">
              <!-- Question Pic -->
              <div class="row">
                <div class="col-md-4 col-12">
                  <mat-label>
                    {{ "labels.AnswerPic" | translate }}
                    (2)
                  </mat-label>

                  <label for="radio-0">
                    <i class="icon icon_radio"></i>
                  </label>
                  <input
                    class="form-control font-dro clearInputs"
                    type="file"
                    accept="image/*"
                    name="answerTwoImage"
                    (change)="importTwoFile($event)"
                  />
                </div>

                <div class="col-md-8 col-12">
                  <div class="question-img">
                    <mat-checkbox
                      *ngIf="answerTwoImageCtrl.value"
                      formControlName="answerTwoRemove_image"
                      [value]="true"
                      class="remove_image"
                    >
                      Remove Image
                    </mat-checkbox>
                    <img class="img-fluid" [src]="answerTwoImageCtrl.value" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- answer Three -->
      <mat-card>
        <mat-radio-group formControlName="answerThreeIsCorrect">
          <mat-radio-button
            [value]="2"
            [checked]="threeIsCorrect"
            (click)="onSelectCorrect(2)"
          >
          </mat-radio-button>
        </mat-radio-group>
        <mat-card-subtitle>
          {{ "labels.AnswerNumber" | translate }} (3)
        </mat-card-subtitle>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="legacy">
                <mat-label>
                  {{ "labels.AnswerText" | translate }} (3)
                </mat-label>

                <input matInput type="text" formControlName="answerThree" />
              </mat-form-field>
            </div>

            <div class="col-12">
              <!-- Question Pic -->
              <div class="row">
                <div class="col-md-4 col-12">
                  <mat-label>
                    {{ "labels.AnswerPic" | translate }}
                    (3)
                  </mat-label>

                  <label for="radio-0">
                    <i class="icon icon_radio"></i>
                  </label>
                  <input
                    class="form-control font-dro clearInputs"
                    type="file"
                    accept="image/*"
                    name="answerThreeImage"
                    (change)="importThreeFile($event)"
                  />
                </div>

                <div class="col-md-8 col-12">
                  <div class="question-img">
                    <mat-checkbox
                      *ngIf="answerThreeImageCtrl.value"
                      formControlName="answerThreeRemove_image"
                      [value]="true"
                      class="remove_image"
                    >
                      Remove Image
                    </mat-checkbox>

                    <img class="img-fluid" [src]="answerThreeImageCtrl.value" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- answer Four -->
      <mat-card>
        <mat-radio-group formControlName="answerFourIsCorrect">
          <mat-radio-button
            [value]="3"
            [checked]="fourIsCorrect"
            (click)="onSelectCorrect(3)"
          >
          </mat-radio-button>
        </mat-radio-group>

        <mat-card-subtitle>
          {{ "labels.AnswerNumber" | translate }} (4)
        </mat-card-subtitle>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="legacy">
                <mat-label>
                  {{ "labels.AnswerText" | translate }} (4)
                </mat-label>
                <input matInput type="text" formControlName="answerFour" />
              </mat-form-field>
            </div>

            <div class="col-12">
              <!-- Question Pic -->
              <div class="row">
                <div class="col-md-4 col-12">
                  <mat-label>
                    {{ "labels.AnswerPic" | translate }}
                    (4)
                  </mat-label>

                  <label for="radio-0">
                    <i class="icon icon_radio"></i>
                  </label>
                  <input
                    class="form-control font-dro clearInputs"
                    type="file"
                    accept="image/*"
                    name="answerFourImage"
                    (change)="importFourFile($event)"
                  />
                </div>

                <div class="col-md-8 col-12">
                  <div class="question-img">
                    <mat-checkbox
                      *ngIf="answerFourImageCtrl.value"
                      formControlName="answerFourRemove_image"
                      [value]="true"
                      class="remove_image"
                    >
                      Remove Image
                    </mat-checkbox>
                    <img class="img-fluid" [src]="answerFourImageCtrl.value" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <mat-card-actions class="col-12">
      <button
        mat-raised-button
        id="examQuestionsButton"
        class="btn btn-primary"
        (click)="onSubmit()"
        *ngIf="questionId == 0"
      >
        {{ "General.Add" | translate }}
      </button>
      <button
        mat-raised-button
        (click)="onSubmit()"
        id="editQuestionButton"
        class="btn btn-primary"
        *ngIf="questionId > 0"
      >
        {{ "General.Update" | translate }}
      </button>
    </mat-card-actions>

    <div class="col-md-12">
      <div class="full-wid-table" style="overflow: hidden !important">
        <table
          class="table table-striped table-hover table-full-width rtl"
          id="sotbmod"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>{{ "labels.question_ar_text" | translate }}</th>
              <!-- <th>{{ "labels.QuestionImage" | translate }}</th> -->
              <th>{{ "labels.QuestionType" | translate }}</th>
              <th>­</th>
            </tr>
          </thead>
          <tbody id="addedExamQuestionsHolder">
            <tr id="ExamQuestion-2626853" *ngFor="let ques of questionsInGrid">
              <td>{{ ques.Id }}</td>
              <td>{{ ques.Text }}</td>
              <!-- <td>
                <a
                  *ngIf="ques.Image != null || ques.Image != ''; else noImg"
                  [href]="ques.Image"
                  target="_blank"
                >
                  عرض
                </a>
                <span #noImg>لايوجد صورة</span>
              </td> -->
              <td>{{ ques.QuestionTypeAr }}</td>
              <td>
                <button
                  (click)="getQuestionForEditByID(ques.Id)"
                  mat-mini-fab
                  color="primary"
                >
                  <mat-icon>edit</mat-icon>
                </button>

                <button
                  (click)="removeExamQuestion(ques.Id)"
                  mat-mini-fab
                  color="warn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn-danger" mat-raised-button mat-dialog-close>Close</button>
</div>
<ngx-spinner></ngx-spinner>
