<ngx-spinner></ngx-spinner>
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        {{ "labels.ExamsCorrection" | translate }}


        <a
          mat-raised-button
          class="btn btn-info float-right"
        >
          <i class="fa fa-search"></i>
          {{ "General.Search" | translate }}
        </a>
      </mat-card-title>
      <mat-card-content class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="myForm" class="form-container">
              <div class="row">
                <div class="col-md-12 col-12">
                 
                  <mat-radio-group
                    formControlName="CorrectedQuestions"
                    class="row"
                  >
                    <div class="col-md-4 col-12">
                      <mat-radio-button [value]="false">
                        {{ "labels.CorrectedQuestions" | translate }}
                      </mat-radio-button>
                    </div>
                    <div class="col-md-4 col-12">
                      <mat-radio-button [value]="true">
                        {{ "labels.UnCorrectedQuestions" | translate }}
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
                </div>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        {{ "labels.ExamsCorrection" | translate }}
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. ium"
            #input
          />
        </mat-form-field>
        <div class="mat-elevation-z8 f-w">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "labels.Name" | translate }}
              </th>
              <td mat-cell *matCellDef="let ele">{{ ele.Name }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "labels.Name" | translate }}
              </th>
              <td mat-cell *matCellDef="let ele">{{ ele.Name }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "labels.Name" | translate }}
              </th>
              <td mat-cell *matCellDef="let ele">{{ ele.Name }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>

              <td mat-cell *matCellDef="let group">
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    actions
                    <!-- <i class="fa fa-ellipsis-h"></i> -->
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <ng-container *ngFor="let fun of rowFunctions">                   
                      <a
                        ngbDropdownItem
                        *ngIf="fun.functionName === 'Delete'"
                        (click)="openDeleateDialog(group)"
                      >
                        <i class="fa fa-times mr-2"></i>
                        {{ "General.Delete" | translate }}
                      </a>                   
                    </ng-container>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>
          <mat-paginator
          [pageSizeOptions]="[10]"
          (page)="0"
          [length]="0"
          [pageSize]="10"
          showFirstLastButtons
          aria-label="Select page of users"
        >
        </mat-paginator>
        </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>