<ngx-spinner></ngx-spinner>
<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm" class="form-container">
    <div class="row f-w">
      <div class="col">
        <mat-form-field appearance="legacy">
          <mat-label>Student Email</mat-label>
          <input matInput type="text" formControlName="account_email" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="legacy">
          <mat-label>Student phone</mat-label>
          <input matInput type="text" formControlName="mobile" />
        </mat-form-field>
      </div>
    </div>
    <div class="form-horizontal" *ngIf="Results">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"> new Password</label>
        <div class="col-sm-8">
          <input
            disabled
            class="form-control bg-light-primary"
            [value]="Results.newPassword"
          />
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-button
    [mat-dialog-close]="false"
    class="btn btn-danger float-right"
  >
    Close
  </button>
  <button mat-raised-button class="btn btn-primary" (click)="resetPassword()">
    Reset
  </button>
</div>
