<ngx-spinner></ngx-spinner>
<!-- <div class="row">
  <div class="col-12">
    <div class="content-header">{{ "labels.Users" | translate }}</div>
  </div>
</div> -->

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        {{ "labels.CreateFunction" | translate }}
      </mat-card-title>
      <mat-card-content class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="myForm" class="form-container">
              <div class="row">
                <div class="col-md-4 col-12">
                  <mat-form-field appearance="legacy">
                    <mat-label> {{ "labels.arName" | translate }} </mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="functionNameAr"
                      autocomplete="new-password"
                    />
                    <mat-hint
                      class="text-danger"
                      *ngIf="
                        functionNameArCtrl.invalid &&
                        (functionNameArCtrl.touched || submitted)
                      "
                    >
                      <span
                        *ngIf="
                          functionNameArCtrl.errors?.required ||
                          functionNameArCtrl.errors?.whiteSpace
                        "
                      >
                        <i class="ft-alert-circle align-middle"></i>
                        {{ "labels.mustEnterValue" | translate }}
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-12">
                  <mat-form-field appearance="legacy">
                    <mat-label> {{ "labels.enName" | translate }} </mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="functionNameEn"
                      autocomplete="new-password"
                    />
                    <mat-hint
                      class="text-danger"
                      *ngIf="
                        functionNameEnCtrl.invalid &&
                        (functionNameEnCtrl.touched || submitted)
                      "
                    >
                      <span
                        *ngIf="
                          functionNameEnCtrl.errors?.required ||
                          functionNameEnCtrl.errors?.whiteSpace
                        "
                      >
                        <i class="ft-alert-circle align-middle"></i>
                        {{ "labels.mustEnterValue" | translate }}
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-12">
                  <mat-form-field appearance="legacy">
                    <mat-label> {{ "labels.Link" | translate }} </mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="link"
                      autocomplete="new-password"
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          #addBtn
          mat-raised-button
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          {{ "General.Add" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title> {{ "Navbar.Functions" | translate }}</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. ium"
            #input
          />
        </mat-form-field>

        <div class="mat-elevation-z8 f-w">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- # Column -->
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
              <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- arName Column -->
            <ng-container matColumnDef="arName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "labels.arName" | translate }}
              </th>
              <td mat-cell *matCellDef="let ele">{{ ele.functionName }}</td>
            </ng-container>

            <!-- enName Column -->
            <ng-container matColumnDef="enName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "labels.enName" | translate }}
              </th>
              <td mat-cell *matCellDef="let ele">{{ ele.function_en_name }}</td>
            </ng-container>

            <!-- link Column -->
            <ng-container matColumnDef="link">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "labels.Link" | translate }}
              </th>
              <td mat-cell *matCellDef="let ele">{{ ele.functionURL }}</td>
            </ng-container>

            <!-- Option Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let func">
                <ng-container *ngFor="let fun of rowFunctions">
                  <a
                    *ngIf="fun.functionName === 'Update'"
                    (click)="editFunction(func)"
                    class="success p-0"
                  >
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                  </a>

                  <a
                    *ngIf="fun.functionName === 'Delete'"
                    (click)="openDeleateDialog(func)"
                    class="danger p-0"
                  >
                    <i class="ft-trash font-medium-3 mr-2"></i>
                  </a>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[10]"
            (page)="getAllFunctions($event.pageIndex + 1)"
            [length]="itemsCount"
            showFirstLastButtons
            aria-label="Select page of users"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
