<form [formGroup]="myForm" class="form-container">
  <div class="row">
    <div class="col-md-6 col-12">
      <mat-form-field appearance="legacy">
        <mat-label>{{ "labels.Exam" | translate }} </mat-label>
        <mat-select
          formControlName="examId"
          (selectionChange)="examValidator()"
        >
          <mat-option> {{ "General.Choose" | translate }}</mat-option>
          <mat-option *ngFor="let exam of exams" [value]="exam.id">
            {{ exam.exam_ar_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6 col-12">
      <mat-form-field appearance="legacy">
        <mat-label>{{ "labels.Template" | translate }} </mat-label>
        <mat-select
          formControlName="templateId"
          (selectionChange)="examValidator()"
        >
          <mat-option> {{ "General.Choose" | translate }}</mat-option>
          <mat-option *ngFor="let template of templates" [value]="template.Id">
            {{ template.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6 col-6">
      <mat-form-field appearance="legacy">
        <mat-label>
          {{ "labels.percentageToPass" | translate }}
        </mat-label>
        <input matInput type="number" formControlName="percentageToPass" />
        <mat-hint
          class="text-danger"
          *ngIf="
            FormCtrl.percentageToPass.invalid &&
            (FormCtrl.percentageToPass.touched || submitted)
          "
        >
          <span *ngIf="FormCtrl.percentageToPass.errors?.required">
            {{ "labels.mustEnterValue" | translate }}
          </span>
          <span *ngIf="FormCtrl.percentageToPass.errors?.minusNum">
            {{ "labels.mustEnterCorrectValue" | translate }}
          </span>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>
<mat-card-actions align="end">
  <button
    mat-raised-button
    class="btn btn-primary"
    (click)="addMaterialQuiz()"
    [disabled]="
      FormCtrl.materialId.value == undefined ||
      FormCtrl.materialId.value == null
    "
  >
    {{ "General.Save" | translate }}
  </button>
</mat-card-actions>

<ng-container *ngIf="AttachedQuiz?.length > 0" class="table-responsive">
  <table class="table table-striped m-0">
    <thead>
      <tr>
        <th>
          {{ "labels.Exam" | translate }}
        </th>
        <th>{{ "labels.percentageToPass" | translate }}</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of AttachedQuiz">
        <td *ngIf="quiz.examId != null">
          {{ "labels.Exam" | translate }} -
          {{ quiz.examDetails.exam_ar_name }}
        </td>

        <td *ngIf="quiz.templateId != null">
          {{ "labels.Template" | translate }} -
          {{ quiz.TemplateDetails.Name }}
        </td>

        <td>{{ quiz?.percentageToPass }}</td>
        <td>
          <a
            (click)="openDeleateDialog(quiz)"
            class="danger p-0"
            matTooltip="Delete"
          >
            <i class="ft-trash font-medium-3 mr-2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
