<!-- Start Import General Evaluation -->
<!-- <app-general-evaluation></app-general-evaluation> -->

<section class="full-width">
    <div class="container mt-3">
        <div class="alert bg-light-danger mb-2 mt-2 text-center font-medium-3">
            بشرى سارة ليكم
            <br/> الحين. الاختبار بس 2.5. فقط. دينارين ونصف. لمدة محدودة
        </div>
        <div class="alert bg-light-info mb-2 mt-2 text-center font-medium-3">
            يعتبر هذا البرنامج من أفضل البرامج التى تواكب التطور التكنولوجي والتخصصى ف مجال النفط ومتميز بأنه بطبق نظام خاص لا يسمح بتكرار الاسئلة لنفس الطالب ف حالة الدخول بالرقم الخاص به
        </div>
        <div class="row">
            <div class="col-6">
                <a routerLink="/student/teacher/2/teacher-subject/896/1006">
                    <mat-card class="bg-info bg-lighten-3">
                        <img mat-card-image src="assets/img/space1.jpeg" alt="قسم اللغة الانجليزية " style="height: 300px" />
                        <mat-card-content>
                            <div class="media">
                                <div class="media-body text-center white">
                                    <h4 class="card-text">قسم اللغة الانجليزية </h4>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>

            <div class="col-6">
                <a routerLink="/student/teacher/3/teacher-subject/897/1007">
                    <mat-card class="bg-warning bg-lighten-3">
                        <img mat-card-image src="assets/img/space3.jpeg" alt="قسم التخصصات " style="height: 300px" />
                        <mat-card-content>
                            <div class="media">
                                <div class="media-body text-center">
                                    <h4 class="card-text">قسم التخصصات </h4>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>

        <!-- <div class="col-sm-12 col-lg-4">
      <app-my-teachers></app-my-teachers>
    </div>

    <div class="col-sm-12 col-lg-4">
      <app-my-subjects></app-my-subjects>
    </div>

    <div class="col-sm-12 col-lg-4">
      <app-materails-general-evaluation></app-materails-general-evaluation>
    </div> -->

        <!-- <div class="col-sm-12 col-lg-4">
      <app-my-appretiation></app-my-appretiation>
    </div> -->

        <!-- <div class="col-sm-12 col-lg-4">
      <app-leader-board></app-leader-board>
    </div> -->
    </div>
</section>

<!-- materails evaluation -->
<!-- <section class="full-width">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <app-materails-general-evaluation></app-materails-general-evaluation>
    </div>
  </div>
</section> -->