<!-- Start Import General Evaluation -->
<app-general-evaluation></app-general-evaluation>

<section class="full-width">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <app-my-teachers></app-my-teachers>
    </div>

    <div class="col-sm-12 col-lg-4">
      <app-my-subjects></app-my-subjects>
    </div>

    <div class="col-sm-12 col-lg-4">
      <app-materails-general-evaluation></app-materails-general-evaluation>
    </div>

    <!-- <div class="col-sm-12 col-lg-4">
      <app-my-appretiation></app-my-appretiation>
    </div> -->

    <!-- <div class="col-sm-12 col-lg-4">
      <app-leader-board></app-leader-board>
    </div> -->
  </div>
</section>

<!-- materails evaluation -->
<!-- <section class="full-width">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <app-materails-general-evaluation></app-materails-general-evaluation>
    </div>
  </div>
</section> -->
