<ngx-spinner></ngx-spinner>

<!--Forgot Password Starts-->
<section id="forgot-password" class="auth-height">
  <div
    class="row full-height-vh m-0 d-flex align-items-center justify-content-center"
  >
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2"
              >
                <img
                  src="/assets/img/gallery/forgot.png"
                  alt=""
                  class="img-fluid"
                  width="260"
                  height="230"
                />
              </div>
              <!-- Search  Email-->
              <div *ngIf="!ifHaveCode" class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="mb-2 card-title">
                  {{ "auth.RecoverPassword" | translate }}
                </h4>
                <p class="card-text mb-3">
                  {{ "auth.RecoverPasswordMsg" | translate }}
                </p>

                <ngb-alert
                  *ngIf="isFailed"
                  (close)="isFailed = false"
                  type="light-danger"
                  class="mb-2"
                >
                  <p class="mb-0">{{ errMsg }}</p>
                </ngb-alert>

                <form [formGroup]="resetForm">
                  <mat-form-field appearance="legacy">
                    <mat-label>{{ "labels.Email" | translate }}</mat-label>
                    <input
                      matInput
                      type="email"
                      placeholder="Email"
                      formControlName="email"
                    />
                    <mat-hint
                      *ngIf="email.invalid && (email.touched || submitted)"
                      class="text-danger"
                    >
                      <span *ngIf="email.errors?.required">
                        <i class="ft-alert-circle align-middle"></i>
                        {{ "labels.mustEnterValue" | translate }}
                      </span>
                      <span *ngIf="email.errors?.email">
                        <i class="ft-alert-circle align-middle"></i>
                        please enter a correct email
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </form>
                <br />
                <div
                  class="d-flex flex-sm-row flex-column justify-content-between"
                >
                  <button
                    mat-raised-button
                    (click)="forgotPassword()"
                    class="btn btn-primary ml-sm-1"
                  >
                    {{ "General.SendCode" | translate }}
                  </button>
                  <a
                    mat-raised-button
                    routerLink="/auth/login"
                    class="btn bg-light-primary mb-2 mb-sm-0"
                  >
                    {{ "auth.BackToLogin" | translate }}
                  </a>
                </div>
              </div>

              <!-- Send Code -->
              <div *ngIf="ifHaveCode" class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="mb-2 card-title">
                  {{ "auth.NewPassword" | translate }}
                </h4>
                <p class="card-text mb-3">
                  {{ "auth.EnterVerificationCodeMsg" | translate }}
                </p>

                <ngb-alert
                  *ngIf="isFailed"
                  (close)="isFailed = false"
                  type="light-danger"
                  class="mb-2"
                >
                  <p class="mb-0">{{ errMsg }}</p>
                </ngb-alert>

                <form [formGroup]="newPassForm">
                  <mat-form-field appearance="legacy">
                    <mat-label>
                      {{ "auth.VerificationCode" | translate }}
                    </mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Enter verification code"
                      formControlName="verificationCode"
                      autocomplete="off"
                    />
                    <mat-hint
                      *ngIf="
                        newPassCtrls.verificationCode.invalid &&
                        (newPassCtrls.verificationCode.touched || submitted)
                      "
                      class="text-danger"
                    >
                      <span
                        *ngIf="
                          newPassCtrls.verificationCode.errors?.required ||
                          newPassCtrls.verificationCode.errors?.whiteSpace
                        "
                      >
                        <i class="ft-alert-circle align-middle"></i>
                        {{ "labels.mustEnterValue" | translate }}
                      </span>
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="legacy">
                    <mat-label>
                      {{ "auth.NewPassword" | translate }}
                    </mat-label>
                    <input
                      matInput
                      type="password"
                      placeholder="Enter New Password"
                      formControlName="new_password"
                      autocomplete="off"
                    />
                    <mat-hint
                      *ngIf="
                        newPassCtrls.new_password.invalid &&
                        (newPassCtrls.new_password.touched || submitted)
                      "
                      class="text-danger"
                    >
                      <span *ngIf="newPassCtrls.new_password.errors?.required">
                        <i class="ft-alert-circle align-middle"></i>
                        {{ "labels.mustEnterValue" | translate }}
                      </span></mat-hint
                    >
                  </mat-form-field>
                </form>
                <br />
                <div
                  class="d-flex flex-sm-row flex-column justify-content-between"
                >
                  <button
                    mat-raised-button
                    (click)="resetPassword()"
                    class="btn btn-primary ml-sm-1 flex-right"
                  >
                    {{ "General.Save" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->
