<ngx-spinner></ngx-spinner>

<div class="row">
  <div class="col-12">
    <mat-card class="example-card">
      <mat-card-title class="">
        {{ "Reservation.AcademyServices" | translate }}
      </mat-card-title>
      <mat-card-content>
        <ul class="list-group rtl text-right">
          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(1) فرق سياسة الاسعار</h5>
            </div>
            <p class="mb-2 rtl">
              أسعار الحصص و الأمتحانات و الخدمات لطلاب الأكاديمية أقل من الطلاب
              الضيوف الذين لم يقوموا بدفع رسوم أشتراك الأكاديمية.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(2) تعويض المحاضرات</h5>
            </div>
            <p class="mb-2 rtl">
              في حالة الغياب عن أي حصة ممكن تعويضها أونلاين (علي المنصة) قبل
              ميعاد الحصه أو مع مدرس في فروع الأكاديمية.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(3) المتابعه مع ولي الأمر</h5>
            </div>
            <p class="mb-2 rtl">
              يتم إرسال رسائل علي الـ What’s App إلي ولي الأمر بالاتي :- <br />
               درجات الطالب في الأمتحان الأسبوعي (Quiz ) في كل محاولة يقوم بها
              الطالب. <br />
               درجات الامتحان الشهري وتقيم مستوى الطالب من خلال الدرجه الحاصل
              عليها. <br />
               في حاله الغياب يتم ارسال رساله لولي الامر بمجرد غياب الطالب عن
              حضور اي حصه.<br />
              الاتصال بولي الامر في الحالات الاتية :-<br />
               في حاله غياب الطالب المتكرر لاكتر من حصه لمعرفه اسباب الغياب
              وابلاغ ولي الامر.<br />
               في حاله غياب الطالب عن الامتحان الشهري.<br />
               في حاله حصول الطالب علي درجه اقل من درجه النجاح المطلوبه في اي
              امتحان شهر لابلاغه ومناقشته في طريقه لحل المشكله التي تواجهه في
              الجزء المخصص به الامتحان .<br />
               في حاله حدوث اي مشكله اداريه او سوء في السلوك من الطالب بالسنتر
              او بالفرع .<br />
               المشاهدات الاستثنائيه او الاضافيه لحصص الاونلاين وذلك لابد ان
              يكون من خلال المتابعه مع ولي الامر فقط وليس الطالب .
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">
                (4) مراعاة الظروف المادية الخاصة بأولياء الأمور
              </h5>
            </div>
            <p class="mb-2 rtl">
              حيث يتم عمل إعفاء جزئي للطلاب من أسعار الحصص والأمتحانات الشهرية
              طبقا لشروط معينة.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(5) جروب الفيس بوك</h5>
            </div>
            <p class="mb-2 rtl">
              اي حاجه بتنزل او اي جديد بيحصل طول السنه بتعرفه من خلال الجروب
              ده،، زي مثلا ان الملازم نزلت ومتوفره في الفروع وتبليغ الطالب
              بميعاد أمتحان الشهر وهكذا.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(6) قاعة المذاكرة في الأكاديمية</h5>
            </div>
            <p class="mb-2 rtl">
              يمكن للطالب الذهاب إلى أي فرع من فروع الأكاديمية للإستفسار عن أي
              جزء في المنهج (من خلال حجز مسبق في المواعيد المخصصة لقاعة
              المذاكرة).
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(7) محاضرات المذاكرة الأونلاين</h5>
            </div>
            <p class="mb-2 rtl">
              بنوفرلك مدرسين لايف شايفهم وسامعهم لايف وتقدر تتكلم معاهم وتتناقش
              برده في اي حاجه وقفه معاك خلال الاسبوع .... وتقدر تتابع مواعيدها
              من خلال الجروب اللي اتكلمنا عليه .
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(8) أستفسارات طلاب الأونلاين</h5>
            </div>
            <p class="mb-2 rtl">
              توفير خدمه Teacher Online طوال ال 24 ساعه يومياّ من خلال خدمة (
              أسأل مدرس ) علي موقع مذاكرتي للرد علي كل اسئله الطلبه في الماده
              العلميه .
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(9) أستفسارات طلاب السنتر</h5>
            </div>
            <p class="mb-2 rtl">
              يوجد مساعدين للمستر قبل و بعد الحصه بـ 30 دقيقة للرد على أي أسئلة
              في المنهج.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">
                (10) عمل جدول حصص مجمعه مع مدرس داخل فروع الاكاديميه
              </h5>
            </div>
            <p class="mb-2 rtl">
              لو كانت المشكله عند الطالب تحتاج لشرح خاص مع مدرس بشكل مباشر يمكن
              تحديد نوع الحصه من خلال الفريق الاداري والعلمي مع الطالب وتحديد
              ميعاد للحصه في اقرب فرع من فروع الاكاديميه.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(11) توفير مدرسين Private</h5>
            </div>
            <p class="mb-2 rtl">
              يتم توفير مدرسين متخصصين بنفس طريقه الشرح وبنفس الملازم إذا تم
              الاحتياج لها اثناء الدراسه لاي ظرف .
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(12) اداره الوقت وطرق المذاكره</h5>
            </div>
            <p class="mb-2 rtl">
              يوجد فريق إداري علي أعلي مستوي متخصص في تنظيم جداول المذاكره لجميع
              المواد و ايضا مدربين بشكل مميز علي التاهيل النفسي للطلاب .
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(13) توفير كل طرق الدفع الاونلاين والكاش</h5>
            </div>
            <p class="mb-2 rtl">
              الدفع الكاش من خلال فروع الاكاديميه ،، اوالدفع الاونلاين من خلال
              كل طرق الدفع ( فوري – محافظ الكترونيه – فيزا بنك - .... )
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">
                (14) توفير خدمة الشحن ( الملازم ) لكل المحافظات داخل مصر
              </h5>
            </div>
            <p class="mb-2 rtl">
              يتم توفير خدمة توصيل ملازم الاكاديميه لاي طالب إذا لم يستطيع في اي
              وقت شرائها من فروع الاكاديميه.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(15) مراعاة الحالات الإستثنائية</h5>
            </div>
            <p class="mb-2 rtl">
              مثل (الحالات المرضية – حالات الوفاة – البطولات الرياضية) يكون هناك
              إستثناءات وعمل جدول حضور خاص بالطالب بالتنسيق مع الأكاديمية.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(16) هدايا أمتحان لشهر</h5>
            </div>
            <p class="mb-2 rtl">
              لزياده تشجيع الطلاب ورفع روح المنافسه تقدم الاكاديميه هدايا
              تحفيزية لاوائل الطلاب كل شهر وعرض صورته علي صفحه الاكاديميه وعلي
              المنصه .
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">(17) مميزات بتخفيضات خارجية</h5>
            </div>
            <p class="mb-2 rtl">
              عضوية الأكاديمية تقدم للطالب خصومات في أماكن مختلفة ومجالات متنوعة
              يقدر الطالب يستفيد بيها علي مدار السنة.
            </p>
          </li>

          <li class="d-inline-block mr-2 mb-2 rtl">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input float-right"
                name="isReaded"
                [(ngModel)]="isReaded"
                id="custom-check-1"
              />
              <label class="custom-control-label" for="custom-check-1">
                <span>{{ "Reservation.ReadAcademyServices" | translate }}</span>
              </label>
            </div>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions align="start">
        <button
          mat-raised-button
          class="btn btn-primary"
          [disabled]="!isReaded"
          routerLink="../policies"
        >
          {{ "Next" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
