<section class="page-user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="user-profile-images">
                    <!-- user timeline image -->
                    <img *ngIf="!TeacherData?.banner_path" src="assets/img/slide1.jpg" class="img-fluid rounded-top user-timeline-image" alt="User Timeline Image" />
                    <img *ngIf="TeacherData?.banner_path" src="mozakretyapi/{{ TeacherData?.banner_path }}" class="img-fluid rounded-top user-timeline-image" alt="User Timeline Image" />
                    <!-- user profile image -->
                    <img src="mozakretyapi/{{ TeacherData?.attach_path }}" class="user-profile-image rounded" [alt]="TeacherData?.ar_name" height="140" width="140" />
                </div>
                <div class="user-profile-text">
                    <h4 class="profile-text-color mb-0">{{ TeacherData?.ar_name }}</h4>
                    <small>{{ TeacherData?.subjectName[0]?.subject_ar_name }}</small>
                </div>
                <!-- user profile body start -->
                <div class="card-content">
                    <div class="card-body">
                        <div class="user-profile-buttons d-flex justify-content-center justify-content-sm-start">
                            <button *ngIf="teacherId == 22" class="btn btn-primary mr-3" routerLink="/student/reservation/{{ teacherId }}/2/1/48HFR6/1">
                <i class="fa fa-ticket"></i>
                {{ "Navbar.Reservation" | translate }}
              </button>
                        </div>
                    </div>
                    <!-- user profile body ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Profile posts and info starts -->
    <div class="row profile-info-posts">
        <!-- 1st column starts -->
        <div class="col-lg-2 col-12">
            <div class="row" *ngIf="">
                <!-- About starts -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title m-0">
                                {{ "labels.AboutTeacher" | translate }}
                            </h4>
                            <span class="cursor-pointer"><i class="ft-more-vertical-"></i
              ></span>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <p class="m-0">
                                    {{ TeacherData?.Description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About ends -->

                <!-- Start Books & Files -->
                <div class="col-12">
                    <mat-card class="card">
                        <mat-card-title>
                            {{ "labels.BooksAndFiles" | translate }}
                        </mat-card-title>
                        <mat-card-content>
                            <div class="mt pr-10 scrolled350">
                                <div class="media pt-0 pb-2 mt-20" *ngIf="FilesList.length > 0; else noFiles">
                                    <ul class="list-unstyled m-0">
                                        <li class="d-flex pb-1 pt-1 bbdashed" *ngFor="let file of FilesList">
                                            <i class="ft-book primary font-medium-2 mr-2 mt-0" style="padding: 3px">
                      </i>
                                            <span>
                        <a routerLink="mozakretyapi{{ file.attach_path }}">
                          {{ file.material_name }}
                        </a>
                      </span>
                                        </li>
                                    </ul>
                                </div>
                                <ng-template #noFiles>
                                    <div class="alert bg-light-warning">
                                        Files & Books is empty
                                    </div>
                                </ng-template>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-- End Books & Files -->
            </div>
        </div>
        <!-- 1st column ends -->

        <!-- 2nd column starts -->
        <div class="col-lg-8 col-12">
            <div class="alert bg-light-secondary mb-2 mt-2 text-center font-medium-3">
                سوف يتم اضافة بقية التخصصات قريبا إن شاء الله تعالى
            </div>
            <mat-card class="card" style="padding: 10px !important">
                <!-- <mat-card-title>My Subjects</mat-card-title> -->
                <mat-card-content>
                    <mat-tab-group animationDuration="0ms">
                        <!-- Videos Tab -->
                        <!-- <mat-tab label="{{ 'labels.VideosLecture' | translate }}">
              <app-videos-lectures
                [teacherSubjectId]="teacherSubjectId"
                [subjectId]="subjectId"
                [teacherId]="teacherId"
              >
              </app-videos-lectures>
            </mat-tab> -->

                        <!-- Offline Lectures Tab -->
                        <!-- <mat-tab label="{{ 'labels.OfflineLecture' | translate }}">
              <div class="mt pr-10">
                <app-offline-lectures
                  [teacherSubjectId]="teacherSubjectId"
                  [subjectId]="subjectId"
                  [teacherId]="teacherId"
                ></app-offline-lectures>
              </div>
            </mat-tab> -->

                        <!-- Live Lectures Tab -->
                        <!-- <mat-tab label="{{ 'reports.LiveLectures' | translate }}">
              <div class="mt pr-10">
                <app-live-lectures
                  [teacherSubjectId]="teacherSubjectId"
                  [subjectId]="subjectId"
                  [teacherId]="teacherId"
                >
                </app-live-lectures>
              </div>
            </mat-tab> -->

                        <!-- Exams Tab -->
                        <mat-tab label="{{ 'Navbar.Exams' | translate }}">
                            <div class="mt pr-10">
                                <app-return-subject-exams [teacherSubjectId]="teacherSubjectId" [subjectId]="subjectId" [teacherId]="teacherId"></app-return-subject-exams>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- 2nd column ends -->
    </div>
    <!-- Profile posts and info ends -->
</section>