<ngx-spinner></ngx-spinner>
<div class="row cart-tabsec">
  <!-- Lectures List -->
  <div class="col-md-4 col-12" *ngFor="let lec of LiveLectures">
    <mat-card class="card chpter" id="mat-{{ lecture?.id }}">
      <img
        *ngIf="teacherId == 22"
        mat-card-image
        class="card-img rounded mb-3"
        src="assets/img/licpic.jpeg"
        [alt]="lec.Date.LectureData.lectureName"
      />

      <img
        *ngIf="teacherId != 22"
        mat-card-image
        class="card-img rounded mb-3"
        src="assets/img/lectureBackground.jpeg"
        [alt]="lec.Date.LectureData.lectureName"
      />
      <!-- <div class="card-img-overlay overlay-dark rounded"></div> -->
      <span mat-icon-button class="btn btn-danger rounded price-icon">
        {{ lec.Date.LectureData.lecturePrice }} KWD
      </span>
      <mat-card-title>
        {{ lec.Date.LectureData.lectureName }}
      </mat-card-title>

      <mat-card-content>
        <h4 class="mat-card-title">
          {{ "Material.PresentedBy" | translate }}:
          {{ lec.Date.LectureData.presentedBy }}
        </h4>
        <span class="d-block">
          {{ "Date" | translate }} : {{ lec.Date.Date | NewDate }}</span
        >
        <span class="d-block">
          {{ "Time" | translate }}: {{ lec.Date.Date | Time }}</span
        >
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          id="book-{{ lec.Date.Id }}"
          (click)="openBuyDialog(lec.Date.Id)"
          type="button"
          class="btn btn-primary"
          *ngIf="!lec.Date.Purchased && lec.Date.LectureData.lecturePrice != 0"
        >
          {{ "Material.BookLecture" | translate }}
        </button>

        <ng-container>
          <button
            mat-raised-button
            *ngIf="
              (lec.Date.Purchased && lec.Date.LectureData.lectureZoomId) ||
              (lec.Date.LectureData.lecturePrice == 0 &&
                lec.Date.LectureData.lectureZoomId)
            "
            type="button"
            class="btn btn-primary"
            (click)="openLecture(lec.Date.LectureData.lectureZoomId)"
          >
            {{ "General.Enter" | translate }}
          </button>

          <button
            mat-raised-button
            *ngIf="
              (lec.Date.Purchased && !lec.Date.LectureData.lectureZoomId) ||
              (lec.Date.LectureData.lecturePrice == 0 &&
                !lec.Date.LectureData.lectureZoomId)
            "
            type="button"
            class="btn btn-primary"
          >
            {{ "Material.LiveNotStarted" | translate }}
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
