.media-body > h5 {
  color: #fff;
  margin-bottom: 0;
}

.card {
  padding: 10px;
}
.card .media {
  padding: 0;
}
.alert.bg-light-primary .badge {
  color: #fff !important;
}

.questionBtn.active {
  background-color: #616d89 !important;
  color: #fff !important;
}

// .student-answer-input {
//   width: 70%;
// }
