<div class="row">
  <div class="col-12">
    <mat-card class="example-card">
      <mat-card-title>
        {{ "Reservation.AcademyPolicies" | translate }}
      </mat-card-title>
      <mat-card-content>
        <ul class="list-group rtl text-right">
          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">حرصاً منا على مصلحة أولادنا الطلاب.</h5>
            </div>
            <p class="mb-2">
              وجدنا أن هذه السياسة هي الأفضل لتحقيق ما يتمناه كل ولي أمر و طالب.
              <br />
              1- عدد ساعات الحصة 3 ساعات كاملة.<br />
              2- لن يسمح للطالب بدخول الحصة (سواء في السنتر أو علي المنصة
              أونلاين) إلا بعد حل الواجب والكويز قبل الحصة واجتياز درجة النجاح
              المطلوبة لكلا منهم.<br />
              3- لن يستطيع الطالب دخول أي حصة في حالة عدم حضور الإمتحان الشهري
              (سواء في السنتر أو علي المنصة أونلاين) و الحصول على درجة النجاح
              فيه، وفي حالة الحصول على درجة أقل من درجة النجاح يلتزم الطالب
              بإعادة الإمتحان.<br />
              4- في حالة غياب الطالب أكثر من 3 محاضرات متتالية يعتبر الطالب
              منقطع ويتم منعه من الحضور إلا بعد الرجوع لمساعدين المدرس.<br />
              5- يجب التزام الطالب باداب وسلوكيات وطريقة التحدث مع المساعدين
              والمدرسين سواء في الفروع او الاونلاين.<br />
              6- في حاله حدوث أي مشكله علي (موقع مذاكرتي) يرجي التواصل مع الدعم
              الفني للموقع وعدم إنشاء حساب جديد<br />
              7- مواعيد العمل في فروع الاكاديمية من 9 صباحًا وحتى الـ 6 مساءًا
              مع مراعاة الإجازات الأسبوعية.<br />
              8- رسوم الحجز غير شاملة أول حصة أو الملازم أو المصاريف الإدارية
              بالسنتر.<br />
              9- عند الاسترداد بعد شهر من تاريخ الحجز سيتم خصم ٥٠ جنيه من رسوم
              الحجز، و خصم قيمه أي أستفادة من مميزات أشتراك الأكاديمية.<br />
              10- لا يمكن استرداد رسوم الحجز بعد حضور اول حصة.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">بالنسبه لـطلاب السنتر</h5>
            </div>
            <p class="mb-2">
              يجب الإلتزام بموعد ومكان الحصه طوال العام.<br />
              يلزم علي الطالب حضور الحصه بالـ ID.<br />
              لن يسمح للطالب بتغيير مكان حصته أو ميعادها إلا بالرجوع للمساعدين
              الإداريين مع المدرس.<br />
              لن يسمح بدخول الطالب الحصه في حالة التأخر عن موعد الحصة لمدة تزيد
              عن 30 دقيقة.<br />
              يلزم علي الطالب شراء حصة السنتر وحل الواجب والكويز علي المنصة
              أونلاين قبل موعد الحصه بيوم علي الأقل.<br />
              في حالة الغياب عن أي حصة يجب تعويضها (علي المنصة) قبل ميعاد الحصه
              أو مع مدرس في فروع الأكاديمية.<br />
              في الحالات الإستثنائية مثل (الحالات المرضية – حالات الوفاة –
              البطولات الرياضية) يكون هناك إستثناءات وعمل جدول خاص بالطالب
              بالتنسيق مع الأكاديمية وتقديم ما يثبت ذلك.<br />
              إذا تم فتح ميعاد إضافي ( المجموعة الثانية 01.00 : 04.00 ) وتم حجز
              الطالب عليها ، سيتم تحويله إلـــي<br />
              ( المجموعة الأولـي 09.00 : 12.00 ( بعد مرور شهرين من بداية الدراسة
              والغاء المجموعة الثانية.<br />
              إذا تم فتح ميعاد إضافي ( المجموعة الثالثة 05.00 : 08.00 ) وتم حجز
              الطالب عليها ، سيتم تحويله إلـــي<br />
              ( المجموعة الأولـي 09.00 : 12.00 ( بعد مرور شهر من بداية الدراسة
              والغاء المجموعة الثالثة.<br />
              في حالة غلق السناتر بناءا علي الإجراءات الإحترازية للدولة سوف يتم
              تحويل الطالب إلى نظام الأونلاين ،، مع مراعاة سياسة الإسترداد.
            </p>
          </li>

          <li
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">بالنسبة لـطلاب الـ On Line</h5>
            </div>
            <p class="mb-2">
              عدد المشاهدات المتاحة لكل محاضرة هي مشاهدتين فقط لاغير.<br />
              المدة المتاحة للحصة علي المنصة هي (أسبوع واحد فقط) من تاريخ نزولها
              علي الموقع.<br />
              لن يسمح لطلاب المنصة بالحضور في السنتر.
            </p>
          </li>

          <li class="d-inline-block mr-2 mb-2 rtl">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input float-right"
                name="isReaded"
                [(ngModel)]="isReaded"
                id="custom-check-1"
              />
              <label class="custom-control-label" for="custom-check-1">
                <span> {{ "Reservation.agreeWithTerms" | translate }}</span>
              </label>
            </div>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions align="start">
        <button
          mat-raised-button
          class="btn btn-primary"
          [disabled]="!isReaded"
          routerLink="../submit"
        >
          {{ "General.Next" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
